.footer {
    height: 64px;
    background-color: var(--footer-bg-color);
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: inherit;
    padding: 0;
    color: rgb(196, 196, 196);
    font-size: 1.8rem;
    list-style-type: none;
}

.social-icons li {
    padding: 0 .7rem;
}

.social-icons li :hover {
    cursor: pointer;
}