:root {
    --bg-color: #23252C;
    --card-bg-color: #1A1B21;
    --footer-bg-color: #161619;
    --main-text-color: #fff;
    --accent-color: #61DAFB;
}

body {
    background-color: var(--bg-color);
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 317px;
}
